</div>
</div>

%footer.footer.pt-4.mt-5
  %div.container.d-flex.justify-content-center
    %h5 BROUGHT TO YOU BY
  %div.container.d-flex.justify-content-center
    %div.row.d-flex.justify-content-center.align-items-center
      %div.col-6.col-sm
        %ul.list-unstyled
          %li= link_to(image_tag("institutions/hes-so_white.svg"), 'https://www.hevs.ch', class: "navbar-brand")
      %div.col-6.col-sm
        %ul.list-unstyled
          %li= link_to(image_tag("institutions/ost.svg"), 'https://www.ost.ch/', class: "navbar-brand")
      %div.col-6.col-sm
        %ul.list-unstyled
          %li= link_to(image_tag("institutions/swissuniversities.svg"), 'https://www.swissuniversities.ch/', class: "navbar-brand")
  %div.container
    %div.row
      %div.col-6.col-md
        %h6 PRODUCTS
        %ul.list-unstyled
          %li= link_to('TechnoPortal', root_path)
          %li= link_to('REST API', Rails.configuration.settings.links[:rest_api], target: '_blank')
      %div.col-6.col-md.footer-support
        %h6 SUPPORT
        %ul.list-unstyled
          %li= link_to('Contact Us', feedback_path, class: 'pop_window')
          %li= link_to('Documentation', Rails.configuration.settings.links[:root_path], target: '_blank')
          %li= link_to('NCBO Wiki', Rails.configuration.settings.links[:wiki], target: '_blank')
      %div.col-6.col-md
        %h6 ABOUT
        %ul.list-unstyled
          %li= link_to('About Us', Rails.configuration.settings.links[:root_path], target: '_blank')
          %li= link_to(raw('Mission & Vision'), Rails.configuration.settings.links[:root_path], target: '_blank')
          %li= link_to('Team', Rails.configuration.settings.links[:root_path], target: '_blank')
          %li= link_to('Projects', projects_path)
      %div.col-12.col-md
        %h6 CONNECT
        %ul.list-inline
          %li.list-inline-item
            = link_to(Rails.configuration.settings.links[:support_mail], target: '_blank') do
              %i.fa.fa-envelope{style: "font-size:31px"}
          %li.list-inline-item
            = link_to(Rails.configuration.settings.links[:github], target: '_blank') do
              %i.fab.fa-2x.fa-github
  
    

= javascript_include_tag "application"
